body {
    background: lightgoldenrodyellow;
    font-family: Arial;
}

header {
    text-align: center;
}

.navMenu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.navMenu a {
    padding: 10px 20px;
    background: #1C1C1C;
    color: #C7A87A;
    text-decoration: none;
    border-radius: 10px;
}

.navMenu a:hover {
    background: #3a3a3a;
}

hr {
    height: 3px;
    background: #1C1C1C;
    border: none;
}
.button:hover{
    background-color: #1C1C1C;
    color: red;
}
.Back:hover{
    background-color: #1C1C1C;
    color: red;
}