img{
    width: 700px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border: 2px black;
}
header{
    text-align: center;
}
hr{
    height: 3px ;
    background: #1C1C1C;
    border: none;
}
body{
    background-color: lightgoldenrodyellow;
}
.navMenu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
}
.navMenu li a{
    list-style: none;
    display: block;
    padding: 10px 20px;
    background: #1C1C1C;
    border: 1px #1C1C1C;
    border-radius: 10px;
    color: #C7A87A;
    text-decoration: none;
    transition: 0.2s;

    gap: 30px;
    justify-content: center;
}
.navMenu li a:hover {
    background: #3a3a3a;
}
